html,
body,
button,
input,
select,
textarea {
    color: #222;
    background-color: #F5F5F5;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.well, .breadcrumb {
    background-color: #E1E1E1;
    border: 1px solid #E3E3E3;
}

h1 {
    font-size: 1.4em;
}

#bannerLeft h2 {
    font-size: 3em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.0em;
}

h4 {
    font-size: 0.8em;
}
